<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h4>Soy un h4</h4>
    <h1>El título de nuestro documento</h1>
    <h2>Un subtitulo cualquiera</h2>

    <img src="/images/princesa-leia-carrie-fisher-1540113645.png" alt="princesa-leia" width="360">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consequatur iusto debitis fugiat, facere ducimus. Dolorum modi magnam, libero nemo impedit culpa praesentium possimus sequi voluptas ullam nobis quidem repudiandae!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consequatur iusto debitis fugiat, facere ducimus. Dolorum modi magnam, libero nemo impedit culpa praesentium possimus sequi voluptas ullam nobis quidem repudiandae!</p>

    <ol>
        <li>tiem 1</li>
        <li>tiem 2</li>
        <li>tiem 3</li>

    </ol>
    <u>
        <li>tiem 1</li>
        <li>tiem 2</li>
        <li>tiem 3</li>
    </u>

    <a href="https://www.google.com"> Ir a Google</a>

</body>
</html>